<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"[routerLink]="['about']">About <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" (keyup.enter)="searchHeroe(search.value)" #search>
      <button (click)="searchHeroe(search.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </div>
  </div>
</nav>